/Com.Gitusme.Net.Extensiones.Core/.nuget
/.vs
/Com.Gitusme.Net.Extensiones.Core/.vs
/Demos/bin
/Demos/obj
/Com.Gitusme.Net.Extensiones.Core/obj
/Com.Gitusme.Net.Extensiones.Core/bin
/Com.Gitusme.Net.Extensiones.Wpf/bin
/Com.Gitusme.Net.Extensiones.Wpf/obj
/Com.Gitusme.Net.Extensiones.Wpf/.nuget
